body {
  background-color: #eff6ff;
  color: #172554;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3.5rem;
  text-align: center;
}

.container {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
}
